<?xml version="1.0"?>
<!--
@category N98
@package  N98_Di
-->
<config>
    <modules>
        <N98_Di>
            <version>1.0.0</version>
        </N98_Di>
    </modules>
    <global>
        <models>
            <n98_di>
                <class>N98_Di_Model</class>
            </n98_di>
        </models>
        <events>
            <controller_action_predispatch>
                <observers>
                    <n98_di>
                        <class>n98_di/action_predispatch_observer</class>
                        <method>registerContainer</method>
                    </n98_di>
                </observers>
            </controller_action_predispatch>
        </events>
        <cache>
            <types>
                <n98_di translate="label,description" module="core">
                    <label>Dependency Injection Configuration</label>
                    <description>di.xml config files of each module.</description>
                    <tags>N98_DI</tags>
                </n98_di>
            </types>
        </cache>
    </global>
    <frontend>
        <routers>
            <n98_di>
                <use>standard</use>
                <args>
                    <module>N98_Di</module>
                    <frontName>di</frontName>
                </args>
            </n98_di>
        </routers>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <N98_Di />
            </modules>
        </suite> 
    </phpunit>
</config>
